# This is a systemd service file for the maubot
# It allows you to run the bot as a system service

[Unit]
Description=maubot

[Service]
# change working directory to suit your needs
WorkingDirectory=/home/maubot/maubot
# change user name to suit your needs
User=maubot
Group=maubot
Environment=PYTHONUNBUFFERED=1
# change this PATH to match yours
ExecStart=/home/maubot/maubot/bin/python -m maubot
ExecStop=/bin/kill -9 $MAINPID
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
